{
  "name": "Minter Explorer Api",
  "debug": ME_DEBUG,
  "baseCoin": "ME_BASE_COIN",
  "database": {
    "host": "ME_DB_HOST",
    "name": "ME_DB_NAME",
    "user": "ME_DB_USER",
    "password": "ME_DB_PASSWORD",
    "poolSize": ME_DB_POOL_SIZE
  },
  "server": {
    "port": "ME_SRV_PORT"
  },
  "extender": {
    "ws": {
        "address": "ME_EXTENDER_WS_ADDRESS",
        "channel_blocks": "ME_EXTENDER_WS_CHANNEL_BLOCKS"
    }
  }
}