[Unit]
Description=Minter Explorer API Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
KillMode=process
TimeoutStartSec=10
Restart=always
RestartSec=15s
WorkingDirectory=/opt/minter/explorer/current
ExecStart=/opt/minter/explorer/current/explorer -config=/opt/minter/explorer/current/config.json

User=minter
Group=minter

[Install]
WantedBy=multi-user.target
